# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# macOS
.DS_Store
